<footer>
    <div class = "bottomMenu">
        <div class = "con_footer">
            <a>백신정보예약시스템</a>
            <div class = "copyright">
                <p>서울시 노원구 광운로 20 (월계동 447-1) 백신접종예약시스템 (01897) 대표전화 02.940.5114</p>  
            </div>
        </div>
    </div>
</footer>