<!DOCTYPE html>
<html>

  <% include ./../head.ejs %>

  <body>
    <div id="container">
      <% include ./logoutheader.ejs %>
    </div>

    <div class="main">
      <div class="title">

      </div>
      <div class="subtitle">

      </div>
     
    </div>
    <% include ./../footer.ejs %>
  </body>
</html>